.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 6% 2%;
  
}

.mainfirst{
    display: flex;
    
}
.leftpart{
    background-color: purple;
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
   
}
.lapform{
    padding: 4%;
    width: 50%;
}
@media screen and (max-width: 780px) {
   .mobileview{
           display: block;
   }

   .mobileviewrleftpart{
   
    margin-bottom: -35%;
    padding-bottom: 25px;
    
   }
   .mobileviewmainfirst{
    display: block;   
   }
   .mobileform{
    padding: 4%;
    width:85%;
    
   }
  }
  